# Environment
python-dotenv

# OCR & PDF
pypdf
PyMuPDF
pdf2image
pytesseract

# AWS
boto3

# LangChain
langchain
langchain-community
langchain-text-splitters

# OpenAI
openai
langchain-openai

# Chroma
# langchain-chroma

# Pinecone
pinecone
protobuf
google-api-core
grpcio
unstructured
markdown
# langchain-pinecone