# Environment
python-dotenv

# OCR & PDF
pypdf
PyMuPDF
pdf2image
pytesseract

# AWS
boto3

# LangChain
langchain
langchain-community
langchain-text-splitters

# OpenAI
openai
langchain-openai

# Chroma
# langchain-chroma

# Pinecone
pinecone
langchain-pinecone
langchain-core

# Miscellaneous
protobuf
google-api-core
grpcio
grpcio-tools
unstructured
markdown
# langchain-pinecone

# API
flask
flask-cors
gunicorn